.welcome{
    padding: 30px 15% 80px;
}
.home{
    height: 98vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.home-img img{
    width: 100%;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    line-height: 1.2;
    margin-bottom: 2rem;
}
.home-text p{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--second-color);
    line-height: 32px;
    margin-bottom: 2.3rem;
}